$primaryColor: #F48C06;
$primaryHoverColor: #DB7E05;

$primaryTextColor: #E4E4E4;
$secondaryTextColor: #67727E;

$backgroundColor: #000D14;
$sidebarColor: #001019;
$headerBackgroundColor: #001019;
$chartsBackgroundColor: #0E1220;
$strokeColor: #1A182A;

$additionalPrimaryLinearColors1: #000D14;
$additionalPrimaryLinearColors2: #001A29;